html {
    height: 100vh;
}

.container {
    width: 400px;
    height: 600px;
    background-color: #222;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.display-a {
    width: 330px;
    height: 70px;
    background-color: #262626;
    border: 1px solid #f2f2f2;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    color: #fff;
    text-align: right;
}

.display-b {
    width: 330px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -20px;
    text-align: right;
    color: #fff;
}

.b-row-0, .b-row-1, .b-row-2, .b-row-3 {
    margin-bottom: 5px;
}

button {
    width: 80px;
    height: 80px;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    vertical-align: middle;
    padding: 0;

}

button.op, button.eq {
    font-size: 30px;
}